body{
    overflow-x: hidden;
}

.card {
    position: relative;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    overflow: hidden;
}


.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    border-radius: 2px;
    width: 6px; /* Width of the border */
    height: 60px; /* Initially set to 0 */
    background-color: #ff4d4d; /* Red color */
    transition: height 0.5s ease, top 0.5s ease;
}

.card:hover::before {
    height: 90%; /* Full height on hover */
    top: 10px;
    
}


.learn-more {
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
}
.card:hover .learn-more{
    color: #ff1a1a;
     
 }

.icon {
 background-color: #ffffff;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card:hover .img1 path {
    fill: red;
}







h2 {
    color: #ff4d4d;
    margin: 10px 0;
}

p {
    color: #dddddd;
    margin-bottom: 20px;
}


.content{
background-color: #ff1a1a;
    position: relative;
    width: 100%;
    height: 3.3em;

overflow: hidden;
display: flex;
align-items: center;



}
.scroll{
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 9em;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0) 
    }
    100% {
       transform: translateX(-50%);
    }
}

